body{
    background-color: #F2F0FC;
    font-family: "open sans";
    color: #002C37;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a{
    text-decoration: none !important;
    color: #002C37;
}
.logo a {
    color: #F2F0FC;
}

.logo a:hover {
    color: #F2F0FC;
}

.navbar-dark {
    background-color: #1181C8;
}
.navbar-toggler-icon {
    /* background-image:url(./defaultImage.png) !important; */
    border: none;
}


.navbar-dark .navbar-toggler {
    border: none;
    outline: 0;
}
a:hover{
    text-decoration: none !important;
    color: #002C37;
    
}
.card{
    background: none;
    border: none;
    /* box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2); */
}

.card-body{
    /* padding-left: 0; */
    /* padding-right: 0; */
    background: white;
    /* margin-top: -30px; */
}
.card-body h2{
    font-size: 16px;
    font-weight: 600;
}


/* style pour animer les cartes */


figure.figurefx {
    /* width: 600px; */
    margin: 30px auto;
      padding: 0;
      display: block;
      position: relative;
      overflow: hidden; /* hide overflowing elements by default */
  }
  
  figure.figurefx figcaption {
      font-family: "open Sans";
      font-weight: 300;
      color: #002C37;
      position: absolute;
      display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
      text-align: left;
      background: white;
      padding: 15px;
      z-index: 100;
      width: 100%;
      max-height: 100%;
      overflow: hidden;
      top: 50%;
      left: 0;
      -moz-transform: translate3d(-100%, -50%, 0); /* position caption outside layout horizontally and centered vertically */
      -webkit-transform: translate3d(-100%, -50%, 0);
      transform: translate3d(-100%, -50%, 0);
      opacity: 0;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
  }
  
  figure.figurefx figcaption a {
      text-decoration: none;
  }
  figure h2 {
    font-size: 20px !important;
    font-weight: 600;
}
  /*** Push Up effect ****/
  figure.pushup img {
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
  }
  
  figure.pushup figcaption {
      top: 100%;
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  
  }
  
  
  figure.pushup:hover img {
      -moz-transform: translate3d(0, -70px, 0); /* move image up vertically a bit for parallax effect */
      -webkit-transform: translate3d(0, -70px, 0);
      transform: translate3d(0, -20px, 0);
    opacity: .5;
  
  }
  
  figure.pushup:hover figcaption{
      -moz-transform: translate3d(0, -100%, 0); /* move caption up vertically to fully reveal caption */
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 1);
  
  }
  figcaption {
    height:100%;
    text-align: justify;
  }
  figure:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.3)
  }

  .breadcrumb{
      /* background: rgb(107, 149, 204); */
      background: none;
      color: #F2F0FC !important;
  }

  .breadcrumb a{
      color: #1181C8;
  }
  